:host {
    display: flex;
    height: 90vh;
}

.controls {
    flex: 0 0 300px;
    background: #8b8eb1;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.controls label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
}

.controls input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 10px;
    outline: 10px;
}

.controls input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #3498db;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.viewer {
    flex: 1;
    position: relative;
    height: 100%;
}