<div class="controls">
  <h2>Control del Brazo Robótico</h2>
  <div class="angles">
    <label>
      Ángulo Articulación 1 ({{ angle1 }}°)
      <input type="range" min="-175" max="175" [(ngModel)]="angle1" (input)="moveJoint('junta_0_1', angle1)">
    </label>
    <label>
      Ángulo Articulación 2 ({{ angle2 }}°)
      <input type="range" min="-90" max="90" [(ngModel)]="angle2" (input)="moveJoint('junta_1_2', angle2)">
    </label>
    <label>
      Ángulo Articulación 3 ({{ angle3 }}°)
      <input type="range" min="-110" max="110" [(ngModel)]="angle3" (input)="moveJoint('junta_2_3', angle3)">
    </label>
    <label>
      Ángulo Articulación 4 ({{ angle4 }}°)
      <input type="range" min="-180" max="180" [(ngModel)]="angle4" (input)="moveJoint('junta_3_4', angle4)">
    </label>
    <label>
      Ángulo Articulación 5 ({{ angle5 }}°)
      <input type="range" min="-105" max="105" [(ngModel)]="angle5" (input)="moveJoint('junta_4_5', angle5)">
    </label>
    <label>
      Ángulo Articulación 6 ({{ angle6 }}°)
      <input type="range" min="-180" max="180" [(ngModel)]="angle6" (input)="moveJoint('junta_5_6', angle6)">
    </label>
  </div>
  <button (click)="sendMessage()">Mover todos los motores</button>
</div>
<div #canvasContainer class="viewer"></div>
