<div class="robot-arm-container" [class.menu-open]="menuOpen">
  <div #canvasContainer class="viewer"></div>
  <button class="menu-toggle" (click)="menuOpen = !menuOpen" aria-label="Abrir menú" *ngIf="!menuOpen">
    ☰ Controles
  </button>

  <div class="controls" [class.open]="menuOpen">
    <h2>Control del Brazo Robótico</h2>
    <button class="close-menu" (click)="menuOpen = false" aria-label="Cerrar menú" *ngIf="menuOpen && isSmallScreen">
      ✕
    </button>
    <div class="joint-controls">
      <div class="joint-control">
        <label class="joint-label">
          Ángulo Articulación 1 ({{ angle1 }}°)
          <input class="joint-slider" type="range" min="-175" max="175" [(ngModel)]="angle1" (input)="moveJoint('junta_0_1', angle1)">
        </label>
      </div>
      <div class="joint-control">
        <label class="joint-label">
          Ángulo Articulación 2 ({{ angle2 }}°)
          <input class="joint-slider" type="range" min="-90" max="90" [(ngModel)]="angle2" (input)="moveJoint('junta_1_2', angle2)">
        </label>
      </div>
      <div class="joint-control">
        <label class="joint-label">
          Ángulo Articulación 3 ({{ angle3 }}°)
          <input class="joint-slider" type="range" min="-110" max="110" [(ngModel)]="angle3" (input)="moveJoint('junta_2_3', angle3)">
        </label>
      </div>
      <div class="joint-control">
        <label class="joint-label">
          Ángulo Articulación 4 ({{ angle4 }}°)
          <input class="joint-slider" type="range" min="-180" max="180" [(ngModel)]="angle4" (input)="moveJoint('junta_3_4', angle4)">
        </label>
      </div>
      <div class="joint-control">
        <label class="joint-label">
          Ángulo Articulación 5 ({{ angle5 }}°)
          <input class="joint-slider" type="range" min="-105" max="105" [(ngModel)]="angle5" (input)="moveJoint('junta_4_5', angle5)">
        </label>
      </div>
      <div class="joint-control">
        <label class="joint-label">
          Ángulo Articulación 6 ({{ angle6 }}°)
          <input class="joint-slider" type="range" min="-180" max="180" [(ngModel)]="angle6" (input)="moveJoint('junta_5_6', angle6)">
        </label>
      </div>
    </div>
    <button class="reset-camera-button" (click)="resetCameraPosition()">Restablecer posición de la cámara</button>
  </div>
</div>